@using System.Collections
@model IEnumerable<DACS.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Category</h1>
<a asp-controller="Categories" asp-action="Add">Create Category</a>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Display" asp-route-id="@item.Id" class="btn btn-success">Detail</a>
                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-success">Update</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Quay về trang chủ</a>